canvas {
    margin: 20px;
    border: 5px solid #000;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
}
