.align-center {
    text-align: center;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.mb-5 {
    margin-bottom: 5px;
}